# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.CreativeCodingWorkshops.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lachlan\Dev\Lachlan\RMIT\CreativeCodingWorkshops\.idea\.idea.CreativeCodingWorkshops\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
